.break .details {
    margin: 10px 0;
}

.break-div {
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    color: black;
}

.break-div:hover {
    background-color: #5D5FEF;
    color: #fff;
}

.exercise-details {
    margin: 30px 0;
}

.exercise-details .details {
    margin: 10px 0;
}

.exercise-details .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}